.boxShadow{
    display:inline-block;
    box-shadow:0px 8px 16px 0px rgba(0,0,0,0.2);
}

.cardd{
    width: 14rem;
    margin:10px;
    padding: 7px;
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-clip: border-box;
}


.image{
    height: 12rem;
    cursor: pointer;
    margin-bottom: 8px;
}

.titletext{
    font-size:16px;
    font-weight:400;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 13rem;
}
.homecardrating{
    font-size: 13px;
    width:45px;
    border-radius:6px;
    padding:1px 1px 1px 8px;
    color:white;
    display:inline-block;
}
.addtocart{
    display: block;
}

.wishlisticon{
    position: absolute;
    font-size: 20px;
    right: 5px;
    top: 10px;
}
.wishlisticon:hover{
    transform: scale(1.2);
    
}

.divpricebtn{
    display: block;
}
.diba{
    display: inline-block;
    font-size: 16px;
    font-weight: 500;
    margin-top: 2px;
}

.dibc{
    display: inline-block;
    margin-left: 4px;
    font-size: 14px;
    font-weight: 400;
    margin: 2px 0 0 6px;
    text-decoration: line-through;
}

.dibp{
    display: inline-block;
    margin-left: 7px;
    font-weight: 500;
    color: #388e3c;
    font-size: 14px;
    margin: 2px 0 0 5px;
}
.brandname{
    font-size:14px;
    display:inline-block;
    margin-bottom:10px;
}

.startratingbar{
    height: 7px;
    width: 200px;
    display: inline-block;
    border-radius: 10px;
    margin: 0 5px 0 8px;
}

.starrating{
    display: flex;
    justify-content: space-around;
}
.reiewbox ,.reviewcmtbox{
    border: 0.8px solid #ddd;
    padding:25px;
}

@media (max-width: 500px){
    .cardd{
        height: 16vh;
        flex-direction: row;
        width: 95vw;
        padding: 5px;
    }
    .image{
        width: 13vh;
        height: 13vh;
        margin-right: 17px;
    }
    .titletext{
        width: 14rem;
        font-size: 16px;
    }
    .wishlisticon{
        display: none;
    }
    .addtocart{
        display: none;
    }
    .diba{
        display: block;
    }
    .dibp{
        display: inline-block;
        margin-left: 7px;
    }
    .dibc{
        display: inline-block;
        margin: 0;
    }
    .divpricebtn{
        display: block;
    }
    .prodtitle{
        display: inline-block;
    }
    .startratingbar{
        width: 110px;
    }
    .starrating{
        justify-content: space-between;
    }
    .reviewtext{
        font-size: 13.5px;
    }
    .reviewcmtbox{
        padding: 20px;
    }
    .reiewbox{
        padding: 15px;
    }
}




.carousel-container {
    width: 100%;
    height: 300px;
    overflow: hidden;
    position: relative;
    background: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
  }

  .carousel-wrapper {
    display: flex;
    transition: transform 0.3s ease-in-out;
  }

  .carousel-slide {
    flex: 0 0 33.3%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 13px;
    background: #eee;
  }

  .carousel-slide img {
    width: 100%;
    height: auto;
    border-radius: 4px;
    margin-left: 14px;
  }

  .carousel-buttonn {
    position: absolute;
    top:34%;
    width: 30px;
    height: 80px;
    margin-top: -80px;
    background: rgba(0, 0, 0, 0.5);
    color: white;
    text-align: center;
    line-height: 77px;
    cursor: pointer;
    z-index: 1;
    user-select: none;
    border-radius: 5px;
}


  .carousel-button-next {
    right: -3px;
  }

  .carousel-button-prev {
    left: -3px;
  }
  .optiona{
    display: block;
  }
  .optionb{
    display: none;
  }


  @media (max-width: 768px){
    .optiona{
        display: none;
    }
    .optionb{
        display: block;
    }
  }


