.boxShadow{
    display:inline-block;
    box-shadow:0px 8px 16px 0px rgba(0,0,0,0.2);
}
.homemaindiv{
    width: 1250px;
    max-height: 225px;
    position: relative;
    margin: 2vw 0 0 0 ;
}

.pageouter{
    position: relative;
    top: 1070px;
    height: 80px;
}
.pageinner{
    width: 900px;
    height: 60px;
    background-color: #ffffff;
    margin: 0 150px 0 150px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}
.prevnextbtn{
margin: 0 30px;
border: none;
font-weight: 500;
color: #0b8011;
font-size: 22px;
background-color: white;
}
.prevnexttext{
    display: inline-block;
    margin-left: 8px;
    margin-right: 40px;
}
.serialnumberbtn{
    font-weight: 400;
    margin: 3px;
    width: 40px;
    height: 40px;
    border: none;
    color: #000;
    font-size: 22px;
    background-color: white;
    border-radius: 40px;
}


.cardd{
    width: 225px;
    margin:10px;
    padding: 7px;
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-clip: border-box;
}


.image{
    height: 180px;
    cursor: pointer;
    margin-bottom: 8px;
}

.titletext{
    font-size:16px;
    font-weight:400;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 200px;
}
.homecardrating{
    font-size: 13px;
    width:45px;
    border-radius:6px;
    padding:1px 1px 1px 8px;
    color:white;
    display:inline-block;
}
.addtocart{
    display: block;
}

.wishlisticon{
    position: absolute;
    font-size: 20px;
    right: 5px;
    top: 10px;
}
.wishlisticon:hover{
    transform: scale(1.2);
    
}

.divpricebtn{
    display: block;
}
.diba{
    display: inline-block;
    font-size: 16px;
    font-weight: 500;
    margin-top: 2px;
}

.dibc{
    display: inline-block;
    margin-left: 4px;
    font-size: 14px;
    font-weight: 400;
    margin: 2px 0 0 6px;
    text-decoration: line-through;
}

.dibp{
    display: inline-block;
    margin-left: 7px;
    font-weight: 500;
    color: #388e3c;
    font-size: 14px;
    margin: 2px 0 0 5px;
}
.brandname{
    font-size:14px;
    display:inline-block;
    margin-bottom:10px;
}

.startratingbar{
    height: 7px;
    width: 200px;
    display: inline-block;
    border-radius: 10px;
    margin: 0 5px 0 8px;
}

.starrating{
    display: flex;
    justify-content: space-around;
}
.cardbodyhomepage {
    text-align:left ;
    cursor:pointer;
}
.reiewbox ,.reviewcmtbox{
    border: 0.8px solid #ddd;
    padding:25px;
}
.smallpageinnerdiv{
    display: none;
}

@media (max-width: 500px){

    .pageouter{
        width: 100vw;
        height: 30vh;
        background-color: white;
        position: relative;
        height: 80px;
        top: 380vh;
        display: block;
        padding: 2vh 0;
    }
    .smallpageinnerdiv{
        text-align: center;
        width: 100vw;
        display: block;
        height: 7vh;
        background-color: white;
        z-index: 1111
    }
    .serialnumberbtn{
        width: 25px;
        height: 25px;
        font-size: 17px;
    }
    .prevnexttext{
        text-align: center;

    }
    .pageinner{
        display: none;
    }

    .homemaindiv{
        width: 100vw;
        margin: 2vw 0 0 0;
    }
    .boxShadow{
        display:inline-block;
        border: 0.4px solid #8e8d8d7c;
    }
    .cardbodyhomepage{
        position: absolute;
        right: -2px;
        bottom: 5px;
    }
    .cardd{
        height: 38vh;
        flex-direction: row;
        width: 44vw;
        padding: 5px;
    }
    .image{
        width: 22vh;
        height: 21vh;
        margin-right: 17px;
        position: relative;
        top: -11px;
        right: 5px;
    }
    .titletext{
        width: 46vw;
        font-size: 13px;

    }
    .wishlisticon{
        display: block;
        position: absolute;
        top: -20vh;
    }
    .addtocart{
        display: block;
    }
    .diba{
        display: block;
    }
    .dibp{
        display: inline-block;
        margin-left: 7px;
    }
    .dibc{
        display: inline-block;
        margin: 0;
    }
    .divpricebtn{
        display: block;
    }
    .prodtitle{
        display: inline-block;
    }
    .startratingbar{
        width: 110px;
    }
    .starrating{
        justify-content: space-between;
    }
    .reviewtext{
        font-size: 13.5px;
    }
    .reviewcmtbox{
        padding: 20px;
    }
    .reiewbox{
        padding: 15px;
    }
}




.carousel-container {
    width: 100%;
    height: 300px;
    overflow: hidden;
    position: relative;
    background: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
  }
  
  .carousel-wrapper {
    display: flex;
    transition: transform 0.3s ease-in-out;
  }

  .carousel-slide {
    flex: 0 0 33.3%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 13px;
    background: #eee;
  }

  .carousel-slide img {
    width: 100%;
    height: auto;
    border-radius: 4px;
    margin-left: 14px;
  }

  .carousel-buttonn {
    position: absolute;
    top:34%;
    width: 30px;
    height: 80px;
    margin-top: -80px;
    background: rgba(0, 0, 0, 0.5);
    color: white;
    text-align: center;
    line-height: 77px;
    cursor: pointer;
    z-index: 1;
    user-select: none;
    border-radius: 5px;
}


  .carousel-button-next {
    right: -3px;
  }

  .carousel-button-prev {
    left: -3px;
  }
  .optiona{
    display: block;
  }
  .optionb{
    display: none;
  }


  @media (max-width: 768px){
    .optiona{
        display: none;
    }
    .optionb{
        display: block;
    }
  }


