.homeSkeletonSearch_optiona{
    display: block;
}

.homeSkeletonSearch_optionb{
    display: none;
}

@media (max-width: 500px){
    .homeSkeletonSearch_optiona{
        display: None;
    }
    
    .homeSkeletonSearch_optionb{
        display: block;
    }
}